*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #0f172a;
    --card-bg:rgba(255, 255, 255, 0.1);
    --accent-color: #8b5cf6;
    --accent-glow: rgba(135, 90, 235,0.5);
    --text-main: #f0fafc;
    --tex-dim: #94a3b8;
    --danger: #ef4444;
    --sucsess: #10b981;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background: var(--bg-color) ;
}
.container{
    animation: fadeIn 1.3s cubic-bezier(0.31, 1.60, 0.60, 1);
    width: 500px;
    background: var(--card-bg);
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 15px;

}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    60% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
h2{
text-align: center;
margin-bottom: 20px;
color: var(--text-main);
letter-spacing: 1px;
}
.container h2 i{
    color: #e77000;
    margin-left: 10px;
}

.input-wrapper{
    position: relative;

}
.input-wrapper input{
    width: 450px;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: var(--bg-color);
    color: var(--text-main);
}

.input-wrapper input:focus{
    box-shadow: 0 0 10px 1px var(--accent-color);
    border: 1 px solid var(--accent-color);

}

.input-wrapper i{
    position: absolute;
    color: var(--text-main);
    background: var(--accent-color);
    top: 50%; 
    right:10px;
   transform:  translateY(-50%);
    font-size: 20px;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    border-radius: 15px;
    transition: 0.5s;
}

.input-wrapper:hover{
    box-shadow: 0 5px 15px var(--accent-color);
}

.task-list li{
    list-style: none;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: var(--text-main);
}


.btns{
    display: flex;
    gap: 15px;
    color: var(--tex-dim);

}
.btns i{
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;

}

.btns i:nth-child(1):hover{
    color: var(--sucsess);
}
.btns i:nth-child(2):hover{
    color: var(--danger);
}